In [2]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load and read as csv
crime_df = pd.read_csv("Crime_Trends.csv")
education_df = pd.read_csv("Education.csv")
income_df = pd.read_csv("income_per_capita.csv")
unemployment_df = pd.read_csv("Unemployment.csv")
crime_df.head()

,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1960,6097,236,2704.0,1924.0,37558.0,2408.0,928.0,375.0,4230.0,...,282.0,3250.0,15428.0,484.0,37.0,7286.0,1616.0,1200.0,1261.0,362.0
1,1961,5564,208,2288.0,1809.0,38154.0,2659.0,878.0,318.0,4491.0,...,245.0,3910.0,15441.0,451.0,79.0,7555.0,1687.0,1167.0,1268.0,288.0
2,1962,5283,225,2610.0,1667.0,39846.0,2990.0,938.0,338.0,4750.0,...,279.0,3767.0,15516.0,554.0,57.0,7720.0,1913.0,1146.0,1174.0,156.0
3,1963,6115,272,3027.0,1991.0,42419.0,2555.0,1192.0,424.0,4740.0,...,278.0,3777.0,17511.0,598.0,92.0,8259.0,2034.0,1185.0,1312.0,213.0
4,1964,7260,375,3368.0,2641.0,48026.0,3119.0,1773.0,541.0,5112.0,...,408.0,4505.0,19769.0,888.0,89.0,10561.0,2761.0,1359.0,1762.0,285.0

In [3]:
# filtered to 10 states: top 5 states (CA, FL, TX, GA, OH) and bottom states (NH, ME, RI, AK, VT)
ten_state_crime = crime_df[["California", "Florida", "Texas", "Georgia", "Ohio", "New Hampshire", "Maine", "Rhode Island", "Arkansas", "Vermont"]]

# calculate avg crime count for years 1970 - 2014 for each state
ca_avg_rate = ten_state_crime["California"].loc[10:54].mean()
fl_avg_rate = ten_state_crime["Florida"].loc[10:54].mean()
tx_avg_rate = ten_state_crime["Texas"].loc[10:54].mean()
ga_avg_rate = ten_state_crime["Georgia"].loc[10:54].mean()
oh_avg_rate = ten_state_crime["Ohio"].loc[10:54].mean()
nh_avg_rate = ten_state_crime["New Hampshire"].loc[10:54].mean()
me_avg_rate = ten_state_crime["Maine"].loc[10:54].mean()
ri_avg_rate = ten_state_crime["Rhode Island"].loc[10:54].mean()
ak_avg_rate = ten_state_crime["Arkansas"].loc[10:54].mean()
vt_avg_rate = ten_state_crime["Vermont"].loc[10:54].mean()

In [4]:
crime_summary_table = pd.DataFrame({"California": ca_avg_rate,
                                    "Florida": [fl_avg_rate],
                                    "Texas": [tx_avg_rate],
                                    "Georgia": [ga_avg_rate],
                                    "Ohio": [oh_avg_rate],
                                    "New Hampshire": [nh_avg_rate],
                                    "Maine": [me_avg_rate],
                                    "Rhode Island": [ri_avg_rate],
                                    "Arkansas": [ak_avg_rate],
                                    "Vermont": [vt_avg_rate]})

crime_summary_table

,California,Florida,Texas,Georgia,Ohio,New Hampshire,Maine,Rhode Island,Arkansas,Vermont
0,206035.977778,109098.111111,98926.844444,36088.777778,43068.177778,1541.066667,1669.044444,3145.644444,10857.044444,690.733333

In [5]:


# filtered dataframe to Percent of adults completing bachelor's degree or higher and State
ten_state_education = education_df[["State",
                                    "Percent of adults completing four years of college or higher, 1970", 
                                    "Percent of adults completing four years of college or higher, 1980", 
                                    "Percent of adults with a bachelor's degree or higher, 1990", 
                                    "Percent of adults with a bachelor's degree or higher, 2000", 
                                    "Percent of adults with a bachelor's degree or higher, 2013-17", 
                                    ]]
#Calculate the average perecent of adults completing bachelor's degree or higher for 10 states: top 5 states (CA, FL, TX, GA, OH) and bottom states (NH, ME, RI, AK, VT)

# Arkansas
ak_education = ten_state_education[ten_state_education["State"] == "AK"]
ak_1970 = ten_state_education.loc[ten_state_education["State"] == "AK", "Percent of adults completing four years of college or higher, 1970"]
ak_1980 = ten_state_education.loc[ten_state_education["State"] == "AK", "Percent of adults completing four years of college or higher, 1980"]
ak_1990 = ten_state_education.loc[ten_state_education["State"] == "AK", "Percent of adults with a bachelor's degree or higher, 1990"]
ak_2000 = ten_state_education.loc[ten_state_education["State"] == "AK", "Percent of adults with a bachelor's degree or higher, 2000"]
ak_2013_17 = ten_state_education.loc[ten_state_education["State"] == "AK", "Percent of adults with a bachelor's degree or higher, 2013-17"]
ak_1970_clean = ak_1970.dropna(how='NaN').mean()
ak_1980_clean = ak_1980.dropna(how='NaN').mean()
ak_1990_clean = ak_1990.dropna(how='NaN').mean()
ak_2000_clean = ak_2000.dropna(how='NaN').mean()
ak_2013_17_clean = ak_2013_17.dropna(how='NaN').mean()

# California
ca_education = ten_state_education[ten_state_education["State"] == "CA"]
ca_1970 = ten_state_education.loc[ten_state_education["State"] == "CA", "Percent of adults completing four years of college or higher, 1970"]
ca_1980 = ten_state_education.loc[ten_state_education["State"] == "CA", "Percent of adults completing four years of college or higher, 1980"]
ca_1990 = ten_state_education.loc[ten_state_education["State"] == "CA", "Percent of adults with a bachelor's degree or higher, 1990"]
ca_2000 = ten_state_education.loc[ten_state_education["State"] == "CA", "Percent of adults with a bachelor's degree or higher, 2000"]
ca_2013_17 = ten_state_education.loc[ten_state_education["State"] == "CA", "Percent of adults with a bachelor's degree or higher, 2013-17"]
ca_1970_clean = ca_1970.dropna(how='NaN').mean()
ca_1980_clean = ca_1980.dropna(how='NaN').mean()
ca_1990_clean = ca_1990.dropna(how='NaN').mean()
ca_2000_clean = ca_2000.dropna(how='NaN').mean()
ca_2013_17_clean = ca_2013_17.dropna(how='NaN').mean()

# Florida
fl_education = ten_state_education[ten_state_education["State"] == "FL"]
fl_1970 = ten_state_education.loc[ten_state_education["State"] == "FL", "Percent of adults completing four years of college or higher, 1970"]
fl_1980 = ten_state_education.loc[ten_state_education["State"] == "FL", "Percent of adults completing four years of college or higher, 1980"]
fl_1990 = ten_state_education.loc[ten_state_education["State"] == "FL", "Percent of adults with a bachelor's degree or higher, 1990"]
fl_2000 = ten_state_education.loc[ten_state_education["State"] == "FL", "Percent of adults with a bachelor's degree or higher, 2000"]
fl_2013_17 = ten_state_education.loc[ten_state_education["State"] == "FL", "Percent of adults with a bachelor's degree or higher, 2013-17"]
fl_1970_clean = fl_1970.dropna(how='NaN').mean()
fl_1980_clean = fl_1980.dropna(how='NaN').mean()
fl_1990_clean = fl_1990.dropna(how='NaN').mean()
fl_2000_clean = fl_2000.dropna(how='NaN').mean()
fl_2013_17_clean = fl_2013_17.dropna(how='NaN').mean()

# Texas
tx_education = ten_state_education[ten_state_education["State"] == "TX"]
tx_1970 = ten_state_education.loc[ten_state_education["State"] == "TX", "Percent of adults completing four years of college or higher, 1970"]
tx_1980 = ten_state_education.loc[ten_state_education["State"] == "TX", "Percent of adults completing four years of college or higher, 1980"]
tx_1990 = ten_state_education.loc[ten_state_education["State"] == "TX", "Percent of adults with a bachelor's degree or higher, 1990"]
tx_2000 = ten_state_education.loc[ten_state_education["State"] == "TX", "Percent of adults with a bachelor's degree or higher, 2000"]
tx_2013_17 = ten_state_education.loc[ten_state_education["State"] == "TX", "Percent of adults with a bachelor's degree or higher, 2013-17"]
tx_1970_clean = tx_1970.dropna(how='NaN').mean()
tx_1980_clean = tx_1980.dropna(how='NaN').mean()
tx_1990_clean = tx_1990.dropna(how='NaN').mean()
tx_2000_clean = tx_2000.dropna(how='NaN').mean()
tx_2013_17_clean = tx_2013_17.dropna(how='NaN').mean()

# Georgia
ga_education = ten_state_education[ten_state_education["State"] == "GA"]
ga_1970 = ten_state_education.loc[ten_state_education["State"] == "GA", "Percent of adults completing four years of college or higher, 1970"]
ga_1980 = ten_state_education.loc[ten_state_education["State"] == "GA", "Percent of adults completing four years of college or higher, 1980"]
ga_1990 = ten_state_education.loc[ten_state_education["State"] == "GA", "Percent of adults with a bachelor's degree or higher, 1990"]
ga_2000 = ten_state_education.loc[ten_state_education["State"] == "GA", "Percent of adults with a bachelor's degree or higher, 2000"]
ga_2013_17 = ten_state_education.loc[ten_state_education["State"] == "GA", "Percent of adults with a bachelor's degree or higher, 2013-17"]
ga_1970_clean = ga_1970.dropna(how='NaN').mean()
ga_1980_clean = ga_1980.dropna(how='NaN').mean()
ga_1990_clean = ga_1990.dropna(how='NaN').mean()
ga_2000_clean = ga_2000.dropna(how='NaN').mean()
ga_2013_17_clean = ga_2013_17.dropna(how='NaN').mean()


# Ohio
oh_education = ten_state_education[ten_state_education["State"] == "OH"]
oh_1970 = ten_state_education.loc[ten_state_education["State"] == "OH", "Percent of adults completing four years of college or higher, 1970"]
oh_1980 = ten_state_education.loc[ten_state_education["State"] == "OH", "Percent of adults completing four years of college or higher, 1980"]
oh_1990 = ten_state_education.loc[ten_state_education["State"] == "OH", "Percent of adults with a bachelor's degree or higher, 1990"]
oh_2000 = ten_state_education.loc[ten_state_education["State"] == "OH", "Percent of adults with a bachelor's degree or higher, 2000"]
oh_2013_17 = ten_state_education.loc[ten_state_education["State"] == "OH", "Percent of adults with a bachelor's degree or higher, 2013-17"]
oh_1970_clean = oh_1970.dropna(how='NaN').mean()
oh_1980_clean = oh_1980.dropna(how='NaN').mean()
oh_1990_clean = oh_1990.dropna(how='NaN').mean()
oh_2000_clean = oh_2000.dropna(how='NaN').mean()
oh_2013_17_clean = oh_2013_17.dropna(how='NaN').mean()

# New Hampshire
nh_education = ten_state_education[ten_state_education["State"] == "NH"]
nh_1970 = ten_state_education.loc[ten_state_education["State"] == "NH", "Percent of adults completing four years of college or higher, 1970"]
nh_1980 = ten_state_education.loc[ten_state_education["State"] == "NH", "Percent of adults completing four years of college or higher, 1980"]
nh_1990 = ten_state_education.loc[ten_state_education["State"] == "NH", "Percent of adults with a bachelor's degree or higher, 1990"]
nh_2000 = ten_state_education.loc[ten_state_education["State"] == "NH", "Percent of adults with a bachelor's degree or higher, 2000"]
nh_2013_17 = ten_state_education.loc[ten_state_education["State"] == "NH", "Percent of adults with a bachelor's degree or higher, 2013-17"]
nh_1970_clean = nh_1970.dropna(how='NaN').mean()
nh_1980_clean = nh_1980.dropna(how='NaN').mean()
nh_1990_clean = nh_1990.dropna(how='NaN').mean()
nh_2000_clean = nh_2000.dropna(how='NaN').mean()
nh_2013_17_clean = nh_2013_17.dropna(how='NaN').mean()

# Maine
me_education = ten_state_education[ten_state_education["State"] == "ME"]
me_1970 = ten_state_education.loc[ten_state_education["State"] == "ME", "Percent of adults completing four years of college or higher, 1970"]
me_1980 = ten_state_education.loc[ten_state_education["State"] == "ME", "Percent of adults completing four years of college or higher, 1980"]
me_1990 = ten_state_education.loc[ten_state_education["State"] == "ME", "Percent of adults with a bachelor's degree or higher, 1990"]
me_2000 = ten_state_education.loc[ten_state_education["State"] == "ME", "Percent of adults with a bachelor's degree or higher, 2000"]
me_2013_17 = ten_state_education.loc[ten_state_education["State"] == "ME", "Percent of adults with a bachelor's degree or higher, 2013-17"]
me_1970_clean = me_1970.dropna(how='NaN').mean()
me_1980_clean = me_1980.dropna(how='NaN').mean()
me_1990_clean = me_1990.dropna(how='NaN').mean()
me_2000_clean = me_2000.dropna(how='NaN').mean()
me_2013_17_clean = me_2013_17.dropna(how='NaN').mean()

# Rhode Island
ri_education = ten_state_education[ten_state_education["State"] == "RI"]
ri_1970 = ten_state_education.loc[ten_state_education["State"] == "RI", "Percent of adults completing four years of college or higher, 1970"]
ri_1980 = ten_state_education.loc[ten_state_education["State"] == "RI", "Percent of adults completing four years of college or higher, 1980"]
ri_1990 = ten_state_education.loc[ten_state_education["State"] == "RI", "Percent of adults with a bachelor's degree or higher, 1990"]
ri_2000 = ten_state_education.loc[ten_state_education["State"] == "RI", "Percent of adults with a bachelor's degree or higher, 2000"]
ri_2013_17 = ten_state_education.loc[ten_state_education["State"] == "RI", "Percent of adults with a bachelor's degree or higher, 2013-17"]
ri_1970_clean = ri_1970.mean()
ri_1980_clean = ri_1980.dropna(how='NaN').mean()
ri_1990_clean = ri_1990.dropna(how='NaN').mean()
ri_2000_clean = ri_2000.dropna(how='NaN').mean()
ri_2013_17_clean = ri_2013_17.dropna(how='NaN').mean()

# Vermont
vt_education = ten_state_education[ten_state_education["State"] == "VT"]
vt_1970 = ten_state_education.loc[ten_state_education["State"] == "VT", "Percent of adults completing four years of college or higher, 1970"]
vt_1980 = ten_state_education.loc[ten_state_education["State"] == "VT", "Percent of adults completing four years of college or higher, 1980"]
vt_1990 = ten_state_education.loc[ten_state_education["State"] == "VT", "Percent of adults with a bachelor's degree or higher, 1990"]
vt_2000 = ten_state_education.loc[ten_state_education["State"] == "VT", "Percent of adults with a bachelor's degree or higher, 2000"]
vt_2013_17 = ten_state_education.loc[ten_state_education["State"] == "VT", "Percent of adults with a bachelor's degree or higher, 2013-17"]
vt_1970_clean = vt_1970.dropna(how='NaN').mean()
vt_1980_clean = vt_1980.dropna(how='NaN').mean()
vt_1990_clean = vt_1990.dropna(how='NaN').mean()
vt_2000_clean = vt_2000.dropna(how='NaN').mean()
vt_2013_17_clean = vt_2013_17.dropna(how='NaN').mean()

33.07333333333334

In [ ]:
# Create a new dataframe based on t

training_data = pd.DataFrame({
    "Name":["Gino Walker","Hiedi Wasser","Kerrie Wetzel","Elizabeth Sackett","Jack Mitten","Madalene Wayman","Jamee Horvath","Arlena Reddin","Tula Levan","Teisha Dreier","Leslie Carrier","Arlette Hartson","Romana Merkle","Heath Viviani","Andres Zimmer","Allyson Osman","Yadira Caggiano","Jeanmarie Friedrichs","Leann Ussery","Bee Mom","Pandora Charland","Karena Wooten","Elizabet Albanese","Augusta Borjas","Erma Yadon","Belia Lenser","Karmen Sancho","Edison Mannion","Sonja Hornsby","Morgan Frei","Florencio Murphy","Christoper Hertel","Thalia Stepney","Tarah Argento","Nicol Canfield","Pok Moretti","Barbera Stallings","Muoi Kelso","Cicely Ritz","Sid Demelo","Eura Langan","Vanita An","Frieda Fuhr","Ernest Fitzhenry","Ashlyn Tash","Melodi Mclendon","Rochell Leblanc","Jacqui Reasons","Freeda Mccroy","Vanna Runk","Florinda Milot","Cierra Lecompte","Nancey Kysar","Latasha Dalton","Charlyn Rinaldi","Erline Averett","Mariko Hillary","Rosalyn Trigg","Sherwood Brauer","Hortencia Olesen","Delana Kohut","Geoffrey Mcdade","Iona Delancey","Donnie Read","Cesar Bhatia","Evia Slate","Kaye Hugo","Denise Vento","Lang Kittle","Sherry Whittenberg","Jodi Bracero","Tamera Linneman","Katheryn Koelling","Tonia Shorty","Misha Baxley","Lisbeth Goering","Merle Ladwig","Tammie Omar","Jesusa Avilla","Alda Zabala","Junita Dogan","Jessia Anglin","Peggie Scranton","Dania Clodfelter","Janis Mccarthy","Edmund Galusha","Tonisha Posey","Arvilla Medley","Briana Barbour","Delfina Kiger","Nia Lenig","Ricarda Bulow","Odell Carson","Nydia Clonts","Andree Resendez","Daniela Puma","Sherill Paavola","Gilbert Bloomquist","Shanon Mach","Justin Bangert","Arden Hokanson","Evelyne Bridge","Hee Simek","Ward Deangelis","Jodie Childs","Janis Boehme","Beaulah Glowacki","Denver Stoneham","Tarra Vinton","Deborah Hummell","Ulysses Neil","Kathryn Marques","Rosanna Dake","Gavin Wheat","Tameka Stoke","Janella Clear","Kaye Ciriaco","Suk Bloxham","Gracia Whaley","Philomena Hemingway","Claudette Vaillancourt","Olevia Piche","Trey Chiles","Idalia Scardina","Jenine Tremble","Herbert Krider","Alycia Schrock","Miss Weibel","Pearlene Neidert","Kina Callender","Charlotte Skelley","Theodora Harrigan","Sydney Shreffler","Annamae Trinidad","Tobi Mumme","Rosia Elliot","Debbra Putt","Rena Delosantos","Genna Grennan","Nieves Huf","Berry Lugo","Ayana Verdugo","Joaquin Mazzei","Doris Harmon","Patience Poss","Magaret Zabel","Marylynn Hinojos","Earlene Marcantel","Yuki Evensen","Rema Gay","Delana Haak","Patricia Fetters","Vinnie Elrod","Octavia Bellew","Burma Revard","Lakenya Kato","Vinita Buchner","Sierra Margulies","Shae Funderburg","Jenae Groleau","Louetta Howie","Astrid Duffer","Caron Altizer","Kymberly Amavisca","Mohammad Diedrich","Thora Wrinkle","Bethel Wiemann","Patria Millet","Eldridge Burbach","Alyson Eddie","Zula Hanna","Devin Goodwin","Felipa Kirkwood","Kurtis Kempf","Kasey Lenart","Deena Blankenship","Kandra Wargo","Sherrie Cieslak","Ron Atha","Reggie Barreiro","Daria Saulter","Tandra Eastman","Donnell Lucious","Talisha Rosner","Emiko Bergh","Terresa Launius","Margy Hoobler","Marylou Stelling","Lavonne Justice","Kala Langstaff","China Truett","Louanne Dussault","Thomasena Samaniego","Charlesetta Tarbell","Fatimah Lade","Malisa Cantero","Florencia Litten","Francina Fraise","Patsy London","Deloris Mclaughlin"],
    "Trainer":['Bettyann Savory','Mariah Barberio','Gordon Perrine','Pa Dargan','Blanch Victoria','Aldo Byler','Aldo Byler','Williams Camire','Junie Ritenour','Gordon Perrine','Bettyann Savory','Mariah Barberio','Aldo Byler','Barton Stecklein','Bettyann Savory','Barton Stecklein','Gordon Perrine','Pa Dargan','Aldo Byler','Brittani Brin','Bettyann Savory','Phyliss Houk','Bettyann Savory','Junie Ritenour','Aldo Byler','Calvin North','Brittani Brin','Junie Ritenour','Blanch Victoria','Brittani Brin','Bettyann Savory','Blanch Victoria','Mariah Barberio','Bettyann Savory','Blanch Victoria','Brittani Brin','Junie Ritenour','Pa Dargan','Gordon Perrine','Phyliss Houk','Pa Dargan','Mariah Barberio','Phyliss Houk','Phyliss Houk','Calvin North','Williams Camire','Brittani Brin','Gordon Perrine','Bettyann Savory','Bettyann Savory','Pa Dargan','Phyliss Houk','Barton Stecklein','Blanch Victoria','Coleman Dunmire','Phyliss Houk','Blanch Victoria','Pa Dargan','Harland Coolidge','Calvin North','Bettyann Savory','Phyliss Houk','Bettyann Savory','Harland Coolidge','Gordon Perrine','Junie Ritenour','Harland Coolidge','Blanch Victoria','Mariah Barberio','Coleman Dunmire','Aldo Byler','Bettyann Savory','Gordon Perrine','Bettyann Savory','Barton Stecklein','Harland Coolidge','Aldo Byler','Aldo Byler','Pa Dargan','Junie Ritenour','Brittani Brin','Junie Ritenour','Gordon Perrine','Mariah Barberio','Mariah Barberio','Mariah Barberio','Bettyann Savory','Brittani Brin','Aldo Byler','Phyliss Houk','Blanch Victoria','Pa Dargan','Phyliss Houk','Brittani Brin','Barton Stecklein','Coleman Dunmire','Bettyann Savory','Bettyann Savory','Gordon Perrine','Blanch Victoria','Junie Ritenour','Phyliss Houk','Coleman Dunmire','Williams Camire','Harland Coolidge','Williams Camire','Aldo Byler','Harland Coolidge','Gordon Perrine','Brittani Brin','Coleman Dunmire','Calvin North','Phyliss Houk','Brittani Brin','Aldo Byler','Bettyann Savory','Brittani Brin','Gordon Perrine','Calvin North','Harland Coolidge','Coleman Dunmire','Harland Coolidge','Aldo Byler','Junie Ritenour','Blanch Victoria','Harland Coolidge','Blanch Victoria','Junie Ritenour','Harland Coolidge','Junie Ritenour','Gordon Perrine','Brittani Brin','Coleman Dunmire','Williams Camire','Junie Ritenour','Brittani Brin','Calvin North','Barton Stecklein','Barton Stecklein','Mariah Barberio','Coleman Dunmire','Bettyann Savory','Mariah Barberio','Pa Dargan','Barton Stecklein','Coleman Dunmire','Brittani Brin','Barton Stecklein','Pa Dargan','Barton Stecklein','Junie Ritenour','Bettyann Savory','Williams Camire','Pa Dargan','Calvin North','Williams Camire','Coleman Dunmire','Aldo Byler','Barton Stecklein','Coleman Dunmire','Blanch Victoria','Mariah Barberio','Mariah Barberio','Harland Coolidge','Barton Stecklein','Phyliss Houk','Pa Dargan','Bettyann Savory','Barton Stecklein','Harland Coolidge','Junie Ritenour','Pa Dargan','Mariah Barberio','Blanch Victoria','Williams Camire','Phyliss Houk','Phyliss Houk','Coleman Dunmire','Mariah Barberio','Gordon Perrine','Coleman Dunmire','Brittani Brin','Pa Dargan','Coleman Dunmire','Brittani Brin','Blanch Victoria','Coleman Dunmire','Gordon Perrine','Coleman Dunmire','Aldo Byler','Aldo Byler','Mariah Barberio','Williams Camire','Phyliss Houk','Aldo Byler','Williams Camire','Aldo Byler','Williams Camire','Coleman Dunmire','Phyliss Houk'],
    "Weight":[128,180,193,177,237,166,224,208,177,241,114,161,162,151,220,142,193,193,124,130,132,141,190,239,213,131,172,127,184,157,215,122,181,240,218,205,239,217,234,158,180,131,194,171,177,110,117,114,217,123,248,189,198,127,182,121,224,111,151,170,188,150,137,231,222,186,139,175,178,246,150,154,129,216,144,198,228,183,173,129,157,199,186,232,172,157,246,239,214,161,132,208,187,224,164,177,175,224,219,235,112,241,243,179,208,196,131,207,182,233,191,162,173,197,190,182,231,196,196,143,250,174,138,135,164,204,235,192,114,179,215,127,185,213,250,213,153,217,176,190,119,167,118,208,113,206,200,236,159,218,168,159,156,183,121,203,215,209,179,219,174,220,129,188,217,250,166,157,112,236,182,144,189,243,238,147,165,115,160,134,245,174,238,157,150,184,174,134,134,248,199,165,117,119,162,112,170,224,247,217],
    "Membership(Days)":[52,70,148,124,186,157,127,155,37,185,158,129,93,69,124,13,76,153,164,161,48,121,167,69,39,163,7,34,176,169,108,162,195,86,155,77,197,200,80,142,179,67,58,145,188,147,125,15,13,173,125,4,61,29,132,110,62,137,197,135,162,174,32,151,149,65,18,42,63,62,104,200,189,40,38,199,1,12,8,2,195,30,7,72,130,144,2,34,200,143,43,196,22,115,171,54,143,59,14,52,109,115,187,185,26,19,178,18,120,169,45,52,130,69,168,178,96,22,78,152,39,51,118,130,60,156,108,69,103,158,165,142,86,91,117,77,57,169,86,188,97,111,22,83,81,177,163,35,12,164,21,181,171,138,22,107,58,51,38,128,19,193,157,13,104,89,13,10,26,190,179,101,7,159,100,49,120,109,56,199,51,108,47,171,69,162,74,119,148,88,32,159,65,146,140,171,88,18,59,13]
})
training_data.head(10)